<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <netTcpBinding>
        <binding name="UserManagerBinding" transactionFlow="true" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="UserManager">
        <endpoint address="net.tcp://localhost:8001/UserManager" binding="netTcpBinding"
          bindingConfiguration="UserManagerBinding" name="UserManagerService"
          contract="DataContracts.IUserManager" />
      </service>
    </services>
  </system.serviceModel>
</configuration>