<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <netTcpBinding>
        <binding name="UserManagerBinding" transactionFlow="true" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8001/UserManager" binding="netTcpBinding"
        bindingConfiguration="UserManagerBinding" contract="DataContracts.IUserManager"
        name="UserManagerService" />
    </client>
  </system.serviceModel>
</configuration>